background{
    color: azure;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 9%;
    ;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.textarea {
    border: none;
    color: blue;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: aquamarine;
}
.textarea:focus{
    outline: none;
}

.mensaje {
    background: bisque;
    background-image: url("./imagenes/encriptar.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    color: white;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;

}

.btn-desencriptar {
    background: red;
    border: 1px solid red;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 320px;
}

.btn-encriptar {
    background: orange;
    border: 1px solid orange;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    width: 320px;
}

.btn-copiar {
    border: 1px solid red;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 482px;
    position: absolute;
    width: 335px;
}

.btn-pegar {
    border: 1px solid red;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    margin-left: 468px;
    margin-top: 482px;
    position: absolute;
    width: 335px;
}